packaging_format = 2

id = "liberchat"
name = "Liberchat"
description.en = "A real-time encrypted chat application for digital communes"
description.fr = "Une application de chat chiffré en temps réel pour les communes numériques"

version = "6.1.19~ynh1"

maintainers = ["Liberchat Community"]

[upstream]
license = "MIT"
website = "https://github.com/AnARCHIS12/Liberchat"
demo = "https://liberchat-3-0-1.onrender.com"
code = "https://github.com/AnARCHIS12/Liberchat"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "500M"
ram.runtime = "100M"

[install]
[install.domain]
type = "domain"

[install.path]
type = "path"
default = "/liberchat"

[install.init_main_permission]
type = "group"
default = "visitors"

[install.admin]
type = "user"

[resources]
[resources.sources]
[resources.sources.main]
url = "https://github.com/AnARCHIS12/Liberchat/archive/refs/heads/Liberchat-6.1.19.tar.gz"
sha256 = "auto"

[resources.system_user]

[resources.install_dir]

[resources.data_dir]

[resources.permissions]
main.url = "/"

[resources.ports]

[resources.apt]
packages = "nodejs, npm, build-essential"
